My first Python lesson

Here is my first lession of Python. I would like to share what I have learned so far. Hope it will be of any help in your journey of learning Python.

Types of Objects: 
    int: integers, e.g.,11; including negative and zero;
    float: real number, e.g.,11.1
    str: string,e.g.,"Hello Matt!"; can use " " or '', but can't mix like " ';
    bool: boolean, True/False.

Some simple codes to start with

In [ ]:
type() # check what type is it, e.g.,
type(1) # return int
type(1.1) # return float

In [ ]:
float() # convert int to float
float(1) # return 1.0

In [ ]:
int() # convert float to int
int(1.9) # return 1

In [ ]:
print() # print out something

In [1]:
int(True) # return 1
int(False) # return 0
float(True) # return 1.0
float(False) # return 0.0
bool(1) # return True
bool(0) # return False

1

Expressions: mathmatic operations

Operators: 
 + : plus, e.g., 3+4, return 7
 - : minus
 * : multiplication
 / : division
 //: integer division

Variables: 
 x = 25//6 # x = 4
 x = x/2 # x = 2

Quiz: What is the result of the following : str(1+1) ?


<details><summary>Click here for the solution</summary>

```
    '2', not '11'

```

</details>

Strings Variables

Name = "Matalon Gomies"
        "M a t a l o n   G o m  i  e  s"
 index:  0 1 2 3 4 5 6 7 8 9 10 11 12 13
         
                  "M  a   t   a   l   o  n     G  o  m   i  e  s"
 Negative index:  -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1

In [32]:
Name = "Matalon Gomies"
Name[0] # return 'M'
print(Name[0]) # return 'M'
Name[6] # return 'n'
Name[-1] # return 's'
#Slicing
Name[0:4] # return 'Mata'; not including index 4 
#Stride
Name[::2] #take first element for every two elements; return 'MtlnGme'
Name[0:5:2] # take every second elements up to index 5; return 'Mtl'
Name[::3] # take first element for every three elements; return 'Manoe'

M

'Manoe'

In [15]:
len(Name) # check the length of varaible; return 14

14

Combine strings

In [18]:
Statement = Name + " is the best" # add space before 'is'
Statement # return 'Matalon Gomies is the best'

'Matalon Gomies is the best'

In [20]:
3*Name # return 'Matalon GomiesMatalon GomiesMatalon Gomies'
3*"Matalon Gomies " # return 'Matalon Gomies Matalon Gomies Matalon Gomies '; give space after 'Gomies'

'Matalon Gomies Matalon Gomies Matalon Gomies '

String is immutable
     You can not do Name[0]='J'. But you can do 
     Name = Name + ' is the best', return 'Matalon Gomies is the best'

Escape Sequences

\n : a new line; When the print function encounters a \n it displays a new line
\t : add space

In [21]:
print(Name+'\n is the best')

Matalon Gomies
 is the best

# return 
Matalon Gomies
  is the best

In [22]:
print(Name+'\t is the best')  # return Matalon Gomies	 is the best

Matalon Gomies	 is the best

In [34]:
print(Name+'\\ is the best') # return Matalon Gomies\ is the best
# r will tell python that string will be display as raw string
print(r"Matalon Gomies \ is the best" ) # return Matalon Gomies\ is the best

Matalon Gomies\ is the best
Matalon Gomies \ is the best

String Operation Methods

In [25]:
A = 'Mat is the best!'
B = A.upper()
B  # return 'MAT IS THE BEST!'

'MAT IS THE BEST!'

In [26]:
B = A.replace('Mat','Matalon')
B  # return 'Matalon is the best!'

'Matalon is the best!'

In [27]:
Name.find('Go') # return 8; the index of 'G'

8

In [29]:
"hello Mike".find("Mike") # return 6
"hello Mike".find("S") # return -1

-1

Quiz on Strings

In [35]:
a = "1"
b = '2'
c = a + b
c # what is c?

'12'


<details><summary>Click here for the solution</summary>

```
    '12' instead of '3'

```

</details>

Thank you for reading this. Hope you enjoy your new journey to Python.